<div class="container" id="game-wrapper">
    <div class="row">
        <div id="table-wrapper" class="col-sm-8">
            <div id="players"></div>

            <div id="table">
                <div class="game-info">
                    <div id="pots"></div>
                    <div id="shared-cards"></div>
                </div>
            </div>
        </div>

        <div id="current-player-wrapper" class="col-sm-4">
            <h4>Hi {{player_name}}!</h4>

            <div id="game-status" class="hidden">
                <p data-key="4"></p>
                <p data-key="3"></p>
                <p data-key="2"></p>
                <p data-key="1"></p>
                <p data-key="0"></p>
            </div>

            <p>Enjoy your poker game :)</p>

            <div id="current-player" class="player">
                <div class="cards"></div>

                <div id="player-controls">
                    <div id="bet-controls" class="controls">
                        <div id="fold-cmd-wrapper">
                            <input type="button" id="fold-cmd" class="btn btn-danger" value="Fold" />
                        </div>
                        <div id="bet-input-wrapper">
                            <input id="bet-input" type="hidden" class="slider"
                                   data-slider-id="bet-input"
                                   data-slider-step="1"/>
                        </div>
                        <div id="bet-cmd-wrapper">
                            <input type="button" id="bet-cmd" class="btn btn-primary" value="Check" />
                        </div>
                        <div id="no-bet-cmd-wrapper">
                            <input type="button" id="no-bet-cmd" class="btn btn-warning" value="Unable to open" />
                        </div>
                    </div>

                    <div id="cards-change-controls" class="controls">
                        <span id="cards-change-cmd" class="btn btn-primary">Change cards</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
