<!DOCTYPE html>
<html>
<head>
    <title>Python Games</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><span class="py">Py</span>Poker game demo</h1>
        <hr/>
        <p>The code lives <a href="https://github.com/epifab/pypoker">on GitHub</a>.</p>
    </div>

    <div class="poker-table">
        <div class="col-md-4" id="players"></div>

        <div class="col-md-8">

            <div id="game-log" class="row"></div>

            <div id="player-control" class="player-{{ id }}">
                <div class="cards row">
                    <div class="card medium card-1 pull-left"></div>
                    <div class="card medium card-2 pull-left"></div>
                    <div class="card medium card-3 pull-left"></div>
                    <div class="card medium card-4 pull-left"></div>
                    <div class="card medium card-5 pull-left"></div>
                </div>
                <div class="player-info" data-name="{{ name }}" data-money="{{ money }}">
                    <span class="player-name">{{ name }} (you)</span>
                    -
                    <span class="player-money">{{ "${:,.2f}".format(money) }}</span>
                </div>
                <div class="form-inline">
                    <span id="change-cards-cmd" class="btn btn-primary">Change cards</span>
                    <div id="bet-group">
                        <span class="btn btn-danger" id="fold-cmd">Fold</span>
                        <div class="form-group">
                            <input id="bet-input" type="text" class="form-control" placeholder="Your bet"/>
                        </div>
                        <span class="btn btn-primary" id="bet-cmd">Bet!</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="static/js/application.js"></script>
</body>
</html>